# Make sure to import these major dependencies
streamlit
pandas
numpy
scikit-learn
xgboost
shap # for shap values --> model evaluation.
matplotlib
seaborn
plotly
joblib

# New deployment requirements
fastapi
uvicorn[standard]
pydantic